.topbar {
  width: 80%;
  padding: 8px;
}

.pages {
  width: 80px;
  float: left;
}

.options {
  width: 80px;
  float: right;
}

.logo {
  width: 50px;
  float: right;
}

.signup {
  float: right;
}

.main-page {
  width: 55%;
  padding: 40px;
  font-size: small;
}

.tools {
  color: black;
}

.read {
  width: 42px;
}

.about-us {
  border: solid #d3d3d3;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 10px;
}

.strong {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.featured-article {
  float: left;
  padding: 4px;
  background-color: #e9fce9;
  border: solid #b8f7b8;
  height: 901px;
}

.featured-article h6 {
  background-color: #b8f7b8;
  font-weight: bold;
}

.img-left {
  float: left;
  width: 170px;
  font-size: x-small;
  padding: 5px;
}

.img-right {
  float: right;
  padding: 5px;
}

.news {
  float: right;
  padding: 4px;
  background-color: #d7f0f8;
  border: solid #add8e6;
  width: 410px;
}

.news h6 {
  background-color: #add8e6;
  font-weight: bold;
}

.more-links {
  float: right;
  font-weight: bold;
}

body {
  font-family: sans-serif;
}