.topbar {
  width: 80%;
  padding: 8px;
}

.pages {
  width: 80px;
  float: left;
}

.options {
  width: 80px;
  float: right;
}

.logo {
  width: 50px;
  float: right;
}

.signup {
  float: right;
}

.main-page {
  width: 55%;
  padding: 40px;
  font-size: small;
}

.tools {
  color: black;
}

.read {
  width: 42px;
}

.about-us {
  border: solid #d3d3d3;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 10px;
}

body {
  font-family: sans-serif;
}