.topbar {
  width: 80%;
  padding: 8px;
}

.pages {
  width: 75px;
  float: left;
}

.options {
  width: 85px;
  float: right;
}

.logo {
  width: 50px;
  float: right;
}

.signup {
  float: right;
}

.main-page {
  width: 55%;
  padding: 40px;
  font-size: small;
}

body {
  font-family: sans-serif;
}